@tailwind base;
@tailwind components;
@tailwind utilities;

/* loading products skelaton */
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #f3f4f6; /*(bg-gray-100) */
  }
  100% {
    background-color: #e5e7eb; /*(bg-gray-200) */
  }
}
